# Copiez ce fichier en .env et remplissez les valeurs
# Copy this file to .env and fill in the values

GEMINI_API_KEY=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
WEATHER_API_KEY=2f7ac5de49e978da355220ce1888dc5a




