# Copiez ce fichier en .env et remplissez les valeurs
# Copy this file to .env and fill in the values

GEMINI_API_KEY=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
WEATHER_API_KEY=2f7ac5de49e978da355220ce1888dc5a




